<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="our-team-main">

                <div class="team-front">
                    <img
                        src="https://image.shutterstock.com/image-photo/assorted-dairy-products-milk-yogurt-260nw-530162824.jpg" />
                    <h3>Meal Name</h3>
                    <p>Milk, chees, eggs and alternatives CATEGORY</p>
                </div>

                <div class="team-back">
                    <div class="back-side-info">
                        <h4>Ingredients</h4>
                        <ul>
                            <li>First ingredients</li>
                            <li>Second ingredients</li>
                            <li>Third ingredients</li>
                            <li>...</li>
                        </ul>
                        <a href="/#">View the recepie</a>
                    </div>

                    <img class="foodImage"
                        src="https://cdn.pixabay.com/photo/2018/01/06/16/24/fried-3065319__340.jpg" />
                </div>

            </div>
        </div>
    </div>
</div>